a.active{
 border-bottom: 3px solid #428dff;   
}
.dark-toggle {
  background-color: white;
  /* color: black; */
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.dark-toggle.dark {
  background-color: #2102d2;
  color: #eee;
}
.dark-toggle > svg-dark-toggle.dark {
    color: white;
}